@scope (.theme-light) to (.themed) {
	.mage-hand-press-journal, &.mage-hand-press-journal {
		.journal-entry-content {}
	}

	@scope (.mage-hand-press-journal, &.mage-hand-press-journal) to (.statblock, .toc) {

	}
}

@scope (.theme-dark) to (.themed) {
	.mage-hand-press-journal, &.mage-hand-press-journal {
		.journal-entry-content {}
	}

	@scope (.mage-hand-press-journal, &.mage-hand-press-journal) to (.statblock, .toc) {

	}
}


.mage-hand-press-journal.journal-sheet {
	.toc, .scrollable {
		scrollbar-color: var(--mhp-journal-accent) transparent;
	}
	.toc {
		li.page.active:first-of-type,
		li.page:not(.active) + .active,
		li.page.active + :not(.active) {
			border-top-color: var(--mhp-journal-accent);
		}
		li.page.active:last-of-type {
			border-bottom-color: var(--mhp-journal-accent);
		}
	}
}

@scope (.mage-hand-press-journal) to (.statblock, .toc) {
	figure img {
		border: none;
		box-shadow: none;
	}

	.content-embed {
		figcaption:first-child, :is(h1, h2, h3, h4, h4) + figcaption {
			color: inherit;
			font-style: normal;
			margin: 0;
			text-align: start;
		}
	}

	.notable {
		display: flow-root;
	}

	.item-entry-details {
		.item-entry-tag {
			margin-block-start: 0;
		}
	}

	.roll-table-embed {
		thead th > button {
			margin: auto;
		}
		tbody td h4 {
			color: inherit;
			font-family: inherit;
			font-size: inherit;
			margin-block-end: 0;

			&:not(:has(~ p)) {
				font-weight: normal;
			}
		}
	}

	.navigation-container {
		container-type: inline-size;
	}
	.navigation-split {
		display: grid;
		gap: 16px;

		@container (width > 600px) {
			grid-template-columns: 1fr 1fr;

			.reverse-navigation { margin-block-start: 30px; }
		}
	}

	.navigation-entry {
		--mhp-navigation-font: var(--dnd5e-font-roboto-condensed);
		box-shadow: 3px 3px 8px rgb(0 0 0 / 0.55), 6px 6px 12px rgb(0 0 0 / 0.25);
		position: relative;

		img {
			inline-size: 100%;
			object-fit: cover;
			object-position: center;
		}
		figcaption { display: contents; }
		figcaption a {
			position: absolute;
			inset: 0;

			color: white;
			font-family: var(--mhp-navigation-font);
			font-style: normal;
			font-weight: normal;
			text-decoration: none;
			text-transform: uppercase;
			text-wrap-mode: wrap;
			text-wrap-style: balance;
			word-break: break-word;

			> i { display: none; }
		}
	}
	.chapter-navigation, .section-navigation {
		isolation: isolate;
		gap: 8px;
	}
	.chapter-navigation {
		.navigation-entry {
			height: 600px;

			img {
				block-size: calc(100% - 50px);
				clip-path: none;
			}
			figcaption a {
				padding-block-end: 16px;
				align-content: end;
				font-size: var(--font-size-14);
			}
		}
	}
	.section-navigation {
		.navigation-entry {
			margin: 4px;
			&::before { inset: -4px; }

			img, figcaption {
				position: absolute;
				inset: 0;
			}
			img { block-size: 100%; }
			figcaption a {
				padding-inline: 8px;
				align-content: center;
				font-size: var(--font-size-24);
				text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.75), 0px 0px 2px rgba(0, 0, 0, 0.75);
			}
		}
		&.large-navigation .navigation-entry { flex: 0 0 150px; }
		&.medium-navigation .navigation-entry { flex: 0 0 90px; }
		&.small-navigation .navigation-entry { flex: 0 0 75px; }
		&.tiny-navigation .navigation-entry { flex: 0 0 60px; }
	}
}

.table-of-contents:is([data-compendium-id^="mage-hand-press-core"],
											[data-compendium-id^="mage-hand-press-complete-"],
											[data-compendium-id^="mage-hand-press-expanded-"],
											[data-compendium-id^="mage-hand-press-valdas-spire-of-secrets"]) {
	article .contents section {
		column-count: 2;
	}
}

.table-of-contents[data-compendium-id^="mage-hand-press-core"] {
	&:not(.minimized, .minimizing, .maximizing) {
		min-block-size: 240px;
	}
}
